body {
	font-family: "Arial", sans-serif;
	padding: 0;
	font-size: 11pt;
	background-color: #2f9fe8;
	}
	
h1, h3, h4, h5, h6, li, body {
	margin: 0;
	}
	
h2 {
	margin: 5px 0 5px 10px;
}
	
p {
	margin: 10px 0 10px 0;
	padding: 3px 5px;
}

a {
	color: black;
	text-decoration: none;
	}
	
a, a img {
	border: none;
}

#frame {
	width: 85%;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 650px;
	min-width: 790px;
	padding: 10px;
}

#header {
	width: 100%;
	border-top: 12px solid white;
	border-bottom: 12px solid white;
	min-height: 150px;
	margin-bottom: 15px;
	margin-top: 30px;
}

#logo {
}

#title {
}

#mainSeg {
	width: 99%;
	min-height: 400px;
	margin-bottom: 5px;
	border-right: 6px solid white;
}

#menu {
	width: 20%;
	background-color: #2f9fe8;
	float: left;
}

#innerContent {
	width: 98%;
	background-color: #FFFFFE;
	margin: 0 auto;
	padding: 10px 0;
	min-height: 400px;
}

#content {
	width: 79%;
	min-height: 400px;
	float: left;
	border-left: 6px solid white;
}

#col1, #col2, #col3 {
	background-color: #DDDDDD;
}

#col1 {
	width: 32%;
	min-height: 250px;
	float: left;
	padding: 3px;
	margin-left: 4px;
}

#col2 {
	width: 32%;
	min-height: 250px;
	float: left;
	padding: 3px;
}

#col3 {
	width: 32%;
	min-height: 250px;
	float: left;
	padding: 3px;
}

#footer {
	width: 100%;
	min-height: 100px;
	float: left;
	margin-top: 15px;
	border-top: 8px solid white;
}

#whiteLeft{
	width: 0.7%;
	min-height: 400px;
	float: left;
}

#whiteRight{
	width: 0.7%;
	min-height: 200px;
	float: left;
}

#whiteMidLeft, #whiteMidRight {
	width: 0.3%;
	min-height: 100px;
	float: left;
}

#topRow {
	width: 100%;
	min-height: 150px;
	margin-bottom: 5px;
}

#title {
	width: 54%;
	color: white;
	font-size: 6em;
	font-weight: bold;
	min-height: 100px;
	float: left;
	margin-top: 50px;
	margin-left: 3%;
}

#contact {
	width: 40%;
	min-height: 80px;
	float: left;
	color: white;
	font-size: 2em;
	text-align: right;
	margin-top: 50px;
	margin-right: 3%;
	margin-bottom: 20px;
}

.menuLink, .menuLinkBot, .highlight {
	height: 30px;
	border-bottom: 1px solid white;
	color: white;
	padding: 10px 0px 5px 10px;
}

.menuLink, .menuLinkBot {
	background-color: #0d7dc6;
}

.highlight {
	background-color: black;
}

.menuLink {
	margin-bottom: 3px;
}

.pic {
	width: 65%;
	margin-left: 15px;
}

.dpic {
	width: 45%;
	margin-left: 15px;
}

.buspic {
	width: 85%;
	margin-left: 15px;
}

#video {
	margin: 15px;
}